.button_class {
  border: 1px solid silver !important;
  background-color: #0b2447;
  border-radius: 5px;
  box-sizing: border-box;
  color: #f9fafb;
  height: 40px;
  padding: 0px 15px;
  box-shadow: 5px 5px 0 0 silver; 
  transition: all ease-in 0.1s;
  width: 100%;
}

.button_class:hover {
  border: 1px solid silver !important;
  box-shadow: 0px 0px 0 0;
  border: 1px solid #0b2447;
  cursor: pointer;
  background-color: #0b2447;
  font-weight: bold;
}

.button_class:active {
  transform: translateY(0.5px);
  box-shadow: 2px 2px 0 0;
  opacity: 0.9;
}

