@import "tailwindcss";

@font-face {
  font-family: "SoDo Sans SemiBold";
  src: url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot");
  src: url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/d7e8a95865396cddca89b00080d2cba6.svg#SoDo Sans SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@theme {
  
  --font-sans: "SoDo Sans SemiBold", system-ui, sans-serif;

  --color-primary: #0b2447;
  --color-primary-dark: #081a33;
  --color-primary-light: #132f63;

  --color-secondary: #C0C0C0;
  --color-secondary-dark: #a8a8a8;
  --color-secondary-light: #d9d9d9;

  --color-background: #f9fafb;
  --color-background-light: #ffffff;

  --color-text: #1e293b;
  --color-text-light: #334155;

  --radius: 0.5rem;
}

body {
  @apply bg-background text-text font-sans antialiased;
}

@layer components {
  .range-slider {
    @apply appearance-none h-2 bg-secondary rounded-lg outline-none;
  }

  .range-slider::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 9999px; 
    background-color: #0b2447; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .range-slider::-webkit-slider-thumb:hover {
    background-color: #0b2447;
    transform: scale(1.1);
  }

  .range-slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background-color: #0b2447;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
