.form__group_one {
  position: relative;
}

.form__group_oneform__field {
  border: 1px solid silver !important;
  border-radius: 5px;
  box-sizing: border-box;
  color: #0b2447;
  height: 40px;
  padding: 0px 15px;
  box-shadow: 5px 5px 0 0;
  transition: all ease-in 0.1s;
  width: 100%;
}

.form__group_one:hover {
  font-weight: bold;
}

.form__group_oneform__field::placeholder {
  color: transparent;
}

.form__group_oneform__field:placeholder-shown ~ .form__group_oneform__label {
  top: 10px;
  border-right: none;
  border-left: none;
}

.form__group_oneform__label {
  background-color: #f9fafb;
  color: #9b9b9b;
  display: block;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}

.form__group_oneform__field:focus {
  border: 1px solid #0b2447 !important;
  outline: none;
  box-shadow: none;
  transform: matrix3d();
  animation-duration: 1;
  font-weight: bold;
}

.form__group_oneform__field:focus ~ .form__group_oneform__label {
  background-color: #f9fafb;
  color: #0b2447;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
  font-weight: bold;
}
