.routine-slider .slick-prev,
.routine-slider .slick-next {
  width: 60px;
  height: 40px;
  z-index: 10;
}

.routine-slider .slick-prev:before,
.routine-slider .slick-next:before {
  font-size: 27px;
  color: #0b2447; 
  opacity: 1;
}

.routine-slider .slick-prev {
  left: -50px;
}

.routine-slider .slick-next {
  right: -50px;
}

.routine-slider .slick-prev:hover:before,
.routine-slider .slick-next:hover:before {
  color: #C0C0C0;
}

.routine-slider .slick-disabled:before {
  opacity: 0.25;
}

.routine-slider .slick-slide > div {
  padding: 0 12px;
}